{% extends "base_generic.html" %}

{% block content %}
    <h1> {{ author.firstname}} {{ author.lastname }}</h1>

    <p><strong>Date of Birth: </strong> {{ author.date_of_birth }} </p>
    {% if author.date_of_death != 'None' %}
        <p><strong>Date of Death: </strong> {{ author.date_of_death }} </p>
    {% endif %}
    <h4>Books authored :</h4>
    <ul>
        {% for book in author.book_set.all %}
        <hr>
        <li>
            <a href="{{ book.get_absolute_url }} ">{{ book.title }}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
