{% extends "base_generic.html" %}

{% block content %}

    <h1>All borrowed books</h1>

    {% if bookinstance_list %}
    <ul>
        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a href="{% url 'book-detail' bookinst.book.slug %}">{{ bookinst.book.title }}</a> &nbsp; Borrower - {{ bookinst.borrower }} &nbsp; Due back by - ({{ bookinst.due_back }})
            {% if perms.catalog.can_renew %} <a href="{% url 'renew-book-librarian' bookinst.bk_id %}">Renew</a> {% endif %}
            {% if bookinst.status == 'o' %}

                <a href="{% url 'return-book-librarian' bookinst.bk_id %}"> Mark as returned </a> 
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>There are no books borrowed.</p>
    {% endif %}

{% endblock %}
